.features {
  margin: 15rem 0;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 14rem;
}

.feature {
  &__icon {
    fill: $color-primary;
    height: 4.5rem;
    width: 4.5rem;
  }

  &__text {
  }
}
