.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start/ sidebar-end;
  grid-row: 1/-1;
  position: relative;
}

.btn-nav {
  border: none;
  border-radius: 0;
  height: 2px;
  width: 4.5rem;
  // margin: 0 auto;
  // display: block;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
}
